/*=============LOGIN PAGE CSS========================*/
//Used to round input textarea corners

.roundCorners {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tableChange {
	background-color: rgba(237, 237, 238, 0.85);
	border-radius: 10px;
}

.biggerFont {
	font-size: 20px;
	margin-bottom: 1em;
}

.lessBigFont {
	font-size: 15px;
	margin-bottom: 0.5em;
}

#headerChange {
	background-color: rgba(237, 237, 238, 0.7);
}

.addPadRight {
	margin-right: 0.5em;
}

.addPadBottom {
	margin-bottom: 1em;
}

.projectButtons {
	background-color: #f88f51;
}

.projectButtons:hover {
	background-color: #f89f61;
}

.timesheetButtons {
	background-color: #3cd69c;	
}

.timesheetButtons:hover {
	background-color: #4ce6ac;
}

.employeeButtons {
	background-color: #ffc34a;
}

.employeeButtons:hover{
	background-color: #ffd35a;
}

.workPackageButtons {
	background-color: #64dac9;	
}

.workPackageButtons:hover {
	background-color: #74ead9;
}

.AddTSButton1 {
	background: url(/COMP4911Project/resources/images/timesheetIcon2.png) no-repeat top;
	background-color: #3cd69c;
	width: 18em;
	height: 18em;
	border-radius: 15px;
	border-width: 10px;
	background-size: cover;
	border-style: solid;
    border-color: #8c8c8c;
}

.AddTSButton1:hover {
	background-color: #4ce6ac;
	border-style: solid;
	border-color: #b3b3b3;
}

.AddTSButton2 {
	background: url(/COMP4911Project/resources/images/people.png) no-repeat top;
	background-color: #f88f51;
	width: 18em;
	height: 18em;
	border-radius: 15px;
	border-width: 10px;
	background-size: cover;
	border-style: solid;
    border-color: #8c8c8c;
}

.AddTSButton2:hover {
	background-color: #f89f61;
	border-style: solid;
	border-color: #b3b3b3;
}

.AddTSButton3 {
	background: url(/COMP4911Project/resources/images/WorkPackage.png) no-repeat top;
	background-color: #64dac9;
	width: 18em;
	height: 18em;
	border-radius: 15px;
	border-width: 10px;
	background-size: cover;
	border-style: solid;
    border-color: #8c8c8c;
}

.AddTSButton3:hover {
	background-color: #74ead9;
	border-style: solid;
	border-color: #b3b3b3;
}

.AddTSButton4 {
	background: url(/COMP4911Project/resources/images/Employee.png) no-repeat top;
	background-color: #ffc34a;
	width: 18em;
	height: 18em;
	border-radius: 15px;
	border-width: 10px;
	background-size: cover;
	border-style: solid;
    border-color: #8c8c8c;
}

.AddTSButton4:hover {
	background-color: #ffd35a;
	border-style: solid;
	border-color: #b3b3b3;
}

.centerInColumn {
	vertical-align: top;
    display: inline-block;
    text-align: center;
    padding-bottom: 6em;	
}

.splashItem {
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 18em;
    height: 18em;
}

.caption {
	display: inline-block;
	margin: 10px 10px 0 0;
	padding: 5px 10px;
	font-size: 1.5em;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
}

td{
	background-color: #FEFEFE;
}

th{
	background-color: rgb(246, 245, 242);
}

table{
	border-radius: 10px;
}

.borderBottom {
	border-bottom: 1px solid #aaa;
	padding-bottom: .5em;
}

.buttonColorizer {
	background-color: rgb(232, 172, 104);
}

.greyButton {
	background-color: #CCCCCC;
}

.greyButton:hover{
	background-color: #DDDDDD;
}

.buttonColorizer:hover {
	background-color: rgb(250, 175, 69);
}

.resizing {
   display:inline-block;
}

.bgImage {
	background-image: url(/COMP4911Project/resources/images/capitalr.png);
}

#bgImage2 {
	background-image: url(/COMP4911Project/resources/images/newcity.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.blue {
	background-color: #3b5998;
	color: white;
}

.blue:hover {
	background-color: #8b9dc3;
	color: white;
}

//Used to make checkbox bigger
.checkboxBigger {
  /* All browsers except webkit*/
  transform: scale(10);

  /* Webkit browsers*/
  -webkit-transform: scale(10);
}

//Used to make move submit button to the right side
.submit {
	text-align: right;
}

#arial {
    font-family: "arial";
}

#moveText {
	position: relative;
	top: 10px;
}

#clockrColor {
	position: relative;
    background-color: #0e1c80;
    border: 2px solid black;
    width: 100%;
    height: 2em;
    right: 2px;
    border-radius: 5px;
    text-align: center;
    transform: translateY(-80%);
    color: #eeeeff;
    font-size: 30px;
    font-family: "arial";
}

#paddingBot {
	position: relative;
	top: 3px;
}

#bgColor {
	background-color: #eeeeff;
	border: 2px solid black;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    position: relative;
    top:50%;
    transform: translateY(50%);
    text-align: center;
    height: 18em;
}

#textColor {
	color: #0000ff;
}

#moveLeft {
	text-align: left;
}

/*=============END LOGIN PAGE CSS========================*/

.sizeInput {
	width: 300px;
}

#padAround {
	border: 2px solid #629298;
	border-radius: 10px;
	background-color: #eeeeff;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.loginStyle {
	color: #033138;
	text-align: center;	
}

.title {
	position: relative;
	transform: translateY(10%);		
}

#titleMove {
	position: relative;
	transform: translateY(60%);
}

.fillWidth {
	width: 100%;
}

.centerImage {
	display: block;
	margin: 0 auto;
}

.logoResize {
	width: 20px;
	height: 20px;
    position: relative;
    right: 23px;
    margin-bottom: 0.5em;
}

.clockrBg {
	background-color: #f5f5f8;	
}

.dropdownstyle {
	list-style-type: none;
	clear: right;
}

.removeDot {
	list-style-type: none;
}

.floatclear {
	float: left;
	padding-right: 15px;
}



