/*=============LOGIN PAGE CSS========================*/
//Used to round input textarea corners
.roundCorners {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.bgImage {
	background-image: url(/COMP4911Project/resources/images/capitalr.png);
}

#bgImage2 {
	background-image: url(/COMP4911Project/resources/images/city.png);
}

//Used to make checkbox bigger
.checkboxBigger {
  /* All browsers except webkit*/
  transform: scale(10);

  /* Webkit browsers*/
  -webkit-transform: scale(10);
}

//Used to make move submit button to the right side
.submit {
	text-align: right;
}

#arial {
    font-family: "arial";
}

#moveText {
	position: relative;
	top: 10px;
}

#clockrColor {
	position: relative;
    background-color: #0e1c80;
    border: 2px solid black;
    width: 100%;
    height: 2em;
    right: 2px;
    border-radius: 5px;
    text-align: center;
    transform: translateY(-80%);
    color: #eeeeff;
    font-size: 30px;
    font-family: "arial";
}

#paddingBot {
	position: relative;
	top: 3px;
}

#bgColor {
	background-color: #eeeeff;
	border: 2px solid black;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    position: relative;
    top:50%;
    transform: translateY(50%);
    text-align: center;
    height: 18em;
}

#textColor {
	color: #0000ff;
}

#moveLeft {
	text-align: left;
}

/*=============END LOGIN PAGE CSS========================*/

.sizeInput {
	width: 300px;
}

#padAround {
	border: 2px solid #629298;
	border-radius: 10px;
	background-color: #eeeeff;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.loginStyle {
	color: #033138;
	text-align: center;	
}

.title {
	position: relative;
	transform: translateY(10%);		
}

#titleMove {
	position: relative;
	transform: translateY(60%);
}

.fillWidth {
	width: 100%;
}

.centerImage {
	display: block;
	margin: 0 auto;
}

.clockrBg {
	background-color: #e3eff0;	
}

.dropdownstyle {
	list-style-type: none;
	clear: right;
}

.removeDot {
	list-style-type: none;
}

.floatclear {
	float: left;
	padding-right: 15px;
}






