<?xml version="1.0"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>cjsf02-numberquiz</display-name>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/MainIndex.xhtml</welcome-file>
 </welcome-file-list>
    <context-param>
      <param-name>javax.faces.PROJECT_STAGE</param-name>
      <param-value>Production</param-value>
   </context-param>
   
   
   <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>secureDomain</realm-name>
        <form-login-config>
            <form-login-page>/MainIndex.xhtml</form-login-page>
            <form-error-page>/loginerror.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    
    <security-constraint>
        <display-name>Employees</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Employees Area</web-resource-name>
            <description></description>
            <url-pattern>/employees/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>HumanResource</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Profile</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Profile Area</web-resource-name>
            <description></description>
            <url-pattern>/profile/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>HumanResource</role-name>
            <role-name>Employee</role-name>
            <role-name>ProjectManager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Timesheets</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Timesheets Area</web-resource-name>
            <description></description>
            <url-pattern>/timesheets/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>HumanResource</role-name>
            <role-name>Employee</role-name>
            <role-name>ProjectManager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Projects</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Projects Area</web-resource-name>
            <description></description>
            <url-pattern>/projects/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>HumanResource</role-name>
            <role-name>ProjectManager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Reports</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Reports Area</web-resource-name>
            <description></description>
            <url-pattern>/reports/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>HumanResource</role-name>
            <role-name>ProjectManager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Welcome</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Welcome Area</web-resource-name>
            <description></description>
            <url-pattern>/welcome/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>HumanResource</role-name>
            <role-name>Employee</role-name>
            <role-name>ProjectManager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Work Package</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Work Package Area</web-resource-name>
            <description></description>
            <url-pattern>/wp/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>HumanResource</role-name>
            <role-name>ProjectManager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
     <security-role>  
         <role-name>HumanResource</role-name>  
     </security-role>  
     <security-role>  
         <role-name>Employee</role-name>  
     </security-role>  
     <security-role>  
         <role-name>ProjectManager</role-name>  
     </security-role>  
</web-app>
